.container-fluid{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: darkgrey;
    margin : auto;
}
.row span
{
    font-family: 'digi';
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
