
<nav class="navbar navbar-expand-md navbar-dark bg-dark"> 
      <a class="navbar-brand" ><img class="d-block mx-auto" src="/assets/img/logo.png" style="height: 60px" width="140px"></a>

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" 
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="isConnected" class="nav-item">
            <a class="nav-link" routerLink="/stuff"><i class= "fa fa-home fa-fw" aria-hidden="true"></i> Home </a>
          </li>
        </ul>        
        <ul class="navbar-nav" data-target=".navbar-collapse" data-toggle="collapse">
           <li *ngIf="!isConnected && showRegister" class="nav-item">
            <a class="nav-link" routerLink="/" > <i class= "fa fa-sign-in" aria-hidden="true"></i> login </a>
          </li>  

          <li *ngIf="isConnected" class="nav-item">
            <a class="nav-link">{{connectUser}}</a>
          </li>

          <li *ngIf="isConnected" class="nav-item">
            <a class="nav-link" routerLink="/settings" >Settings</a>
          </li>

          <li *ngIf="isConnected" class="nav-item">
            <a class="nav-link" routerLink="/" (click)="onLogoutClick()">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
